-function addOrUpdateUrlParam(paramString, name, value){
-  var href = paramString;
-  if(href == undefined){
-     return "?"+name+"="+value;
-  } else{
-    var regex = new RegExp("[&\\?]" + name + "=");
-     if(regex.test(href)){
-        regex = new RegExp("([&\\?])" + name + "=[^&]+");
-        href = href.replace(regex, "$1" + name + "=" + value);
-     } else{
-        if(href.indexOf("?") > -1){
-           href += "&" + name + "=" + value;
-        } else{
-           href += "?" + name + "=" + value;
-        }
-     }
-     return href;
-  }
-};

mixin dropdown(selection, selectionName, selectionNamePlural, url, selectionShowName, selectionShowId, paramString)
   if (typeof(selection) !== 'undefined')
      if (selection.length == 0)
         p= "Keine " + selectionNamePlural + " vorhanden."
      else
         ul.nav.nav-tabs
            li.dropdown
               a.dropdown-toggle(href="#", data-toggle="dropdown")= selectionName + " Auswahl"
                  b.caret
               ul.dropdown-menu
                  li: a(href=url)=  "Alle"
                  li.divider
                     each row in selection
                        li: a(href=addOrUpdateUrlParam(paramString, selectionName.toLowerCase(), row[selectionShowId]))= row[selectionShowName]