include ./year_trimmer

#sidebar-wrapper.sidebar-vfill
	nav#sidebar-left.sidebar-vfill.navbar.navbar-default.navbar-collapse.collapse(role='navigation')
		ul.nav.navbar-nav.sidebar-vfill
			- var liClass = null
			each menuObj in menu_links
				if(typeof(menuObj.showInMenu) !== "undefined" && ! menuObj.showInMenu)
					// do not display
				else if(menuObj.divider)
					li: hr.divider
				else
					- var link = (menuObj.dynamicYear ? '/' + currentYear : '') + '/' + menuObj.link
					if(pathname.indexOf(link) == 0)
						- liClass = "active"
					else
						- liClass = null
					li(class=liClass, role="presentation"): a(href=link)= menuObj.label