include ./year_trimmer

header.masthead.navbar.navbar-static-top.navbar-inverse.no-margin-bottom(role='banner')
	.container-fluid
		.navbar-header.navbar-left
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#sidebar-left,#year-menu")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") Deutsche Bundestagswahl

		div
			ul#year-menu.nav.navbar-nav.navbar-right.navbar-collapse.collapse
				- pathnameWithoutYear = get_pathname_without_year()
				- liClass = null
				each year in years
					if(currentYear == year)
						- liClass = "active"
					else
						- liClass = null
					li(class=liClass, role="presentation")
						a(href='/' + year + '/' + pathnameWithoutYear)= year