include ./table

mixin selection_tablerow_cells(row, name, inverse)
	if(!inverse)
		td
			input(type="checkbox", name=name, value=row.id)
	for val, colname in row
		if(isNotExcluded(colname))
			td
				label
					span=val
	if(inverse)
		td
			input(type="checkbox", name=name, value=row.id)

mixin selection_table(content, name, inverse)
	table.table.table-striped.table-bordered.table-condensed
		thead
			tr
				if(!inverse)
					th.vote-tick
				for _, colname in content[0]
					if(isNotExcluded(colname))
						th= capitalize(colname)
				if(inverse)
					th.vote-tick
		tbody
			each row in content
				tr
					+selection_tablerow_cells(row, name, inverse)