- function capitalize(s) {
-    if(!s) {
-        return "";
-    }
-    else{
-        var result = "";
-         var capital = true;
-         for(var i = 0; i < s.length; i++) {
-             if(s.charAt(i) == '_'){
-                result += " "; capital = true;
-            } else if(capital){
-                result += s.charAt(i).toUpperCase();
-                 capital = false;
-            } else{
-                result += s.charAt(i);
-             }
-         }
-         return result;
-    }
- };

- var excludedColumns = ['id', 'color'];
- function isNotExcluded(colname) {
-     return excludedColumns.indexOf(colname) == -1;
- }

- function getOptionOrFalse(options, keyName) {
-   if(typeof(options) !== 'undefined' && options[keyName]) {
-       return options[keyName]
- 	}
-   return false
- }

mixin tablerow_cells(row, options)
	- var num = 0
	for val, colname in row
		if(isNotExcluded(colname))
			- var tdClasses = []
			- var alignRightNums = getOptionOrFalse(options, 'alignRight')
			if(alignRightNums && alignRightNums.indexOf(num) > -1)
				- tdClasses.push('align-right')
			- var link = getOptionOrFalse(options, 'link')
			td(class = tdClasses.join(', '))
				if(link)
					a(href=link)= val
				else
					=val
			- num++

mixin table(content, options)
	if(error)
		p.error.alert.alert-danger= error

	if (typeof(content) !== 'undefined' && content != null)
		if (content.length == 0)
			p Keine Daten gefunden
		else
			table.table.table-striped.table-bordered.table-condensed
				thead
					tr
						- var first = true
						for _, colname in content[0]
							if(isNotExcluded(colname))
								- var thClasses = []
								if(first)
									if(getOptionOrFalse(options, 'smalllabel'))
										- thClasses.push("col-sm-1")
									if(getOptionOrFalse(options, 'firstColRightAligned'))
										- thClasses.push("align-right")
									- first = false
								th(class = thClasses.join(', '))= capitalize(colname)
				tbody
					each row in content
						- var trClasses = []
						- var tdOptions = getOptionOrFalse(options, 'td') || {}
						if(typeof(row.id) !== 'undefined')
							- trClasses.push('clickable')
							- tdOptions.link = path + '/' + row.id
						tr(class = trClasses.join(', '))
							+tablerow_cells(row, tdOptions)