- function get_pathname_without_year() {
-    var pathnameSplit = pathname.split('/');
-    pathnameSplit.shift(); // get rid of empty first slash
-    pathnameSplit.shift(); // and year
-    return pathnameSplit.join('/');
- }