@import "bootstrap-constants";

#sidebar-left {
  &.affix {
    position: static !important;
  }

  @media (min-width: @screen-md-min) {
    &.affix {
      position: fixed !important;
      top: 0;
      width: 25%;
      margin-right: 15px;
    }

    li {
      width: 100%;
    }
  }
}

#sidebar-wrapper {
  &.affix {
    position: static !important;
  }

  @media (min-width: @screen-md-min) {
    &.affix {
      position: fixed !important;
      top: 0;
      width: 25%;
      padding-right: 15px;
    }
  }
}

.sidebar-vfill {
  @media (min-width: @screen-md-min) {
    min-height: 100% !important;
    height: 100% !important;
  }
}