@import "bootstrap-constants";

.clickable {
  cursor: pointer;

  tr& td a {
    display: block;
    text-decoration: none !important;
  }
}

@bottom-buffer-margin: 10px;
.bottom-buffer {
  margin-bottom: @bottom-buffer-margin;
}
.bottom-buffer-2 {
  margin-bottom: @bottom-buffer-margin * 2;
}
.bottom-buffer-4 {
  margin-bottom: @bottom-buffer-margin * 4;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding-mobile {
  @media (max-width: @screen-md-min) {
    padding-right: 0 !important;
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.placeholder {
  margin-bottom: 20px;
}

label * { // undo bootstrap's bold font for everything within a label
  font-weight: normal;
}

.centered {
  margin: 0 auto;
  float: left;
}

.align-right {
  text-align: right;
}