.votes-amount {
  font-size: x-large;
}

.vote-box {
  border: solid #808080 thin;
  padding: 5px;

  &.first-vote p {
    text-align: right;
  }
}

.vote-box {
  p:nth-of-type(1) {
    font-size: larger;
  }
  p:nth-of-type(2) {
    font-size: small;
  }
  p:nth-of-type(3) {
    font-size: large;
  }
  p:nth-of-type(4):not(.vote-label) {
    font-size: smaller;
  }
}

.vote-label {
  font-size: x-large;
  font-weight: bold;
}

th.vote-tick {
  width: 10px;
}
