extends layout
block content
    include ./includes/table
    include ./includes/back_home
    include ./includes/dropdown

    h1= title

    +dropdown(selection, "Partei", "Parteien", baselink, "name", "name")
    +table(content)