extends layout
block content
	include ./includes/table
	include ./includes/back_home

	h1= title
	h2= subtitle

	if(error)
		p.alert.alert-warning= error
	else if(wahlbeteiligung == null)
		p Noch keine Stimmen abgegeben
	else
		div
			p Wahlbeteiligung:  #{wahlbeteiligung}
			p Gewählter Direktkandidat: #{direktkandidat}

		div
			+table(parteien)