extends layout
block content
    include ./includes/back_home
    include ./includes/dropdown
    include ./includes/table
        h1= title
    if(selecion != undefined)
        +dropdown(selection['district'], "Wahlkreis", "Wahlkreise", "/wahlkreise_aggregiert", "name", "wahlkreisnummer", currenturl)
    if(selecion != undefined)
        +dropdown(selection['party'], "Partei", "Parteien", "/wahlkreise_aggregiert", "name", "name", currenturl)
    +table(content)