extends layout
block content
    include ./includes/back_home
    include ./includes/dropdown
    include ./includes/table

    h1= title
    +dropdown(selection['district'], "Wahlkreis", "Wahlkreise", "/wahlkreise_aggregiert", "name", "wahlkreisnummer", currenturl)
    +dropdown(selection['party'], "Partei", "Parteien", "/wahlkreise_aggregiert", "name", "name", currenturl)
    +table(content)