doctype html
html.sidebar-vfill
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/cosmo/bootstrap.min.css")

		script(src="//code.jquery.com/jquery-2.1.3.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="/javascripts/main.js")

		block scripts


	body.sidebar-vfill
		include ./includes/page-header

		.container-fluid.sidebar-vfill
			.row.sidebar-vfill
				.col-md-3.no-left-padding.no-right-padding-mobile.sidebar-vfill
					include ./includes/left-menu
				.col-md-9
					block content