extends layout
block content
	include ./includes/selection_table
	include ./includes/back_home

	h1= title
	h2= subtitle

	if(error)
		if(message)
			p.alert.alert-danger= message
		else
			p.alert.alert-danger Interner Fehler
		p= error
	else if(sent)
		p.alert.alert-success= message
		if(! valid)
			p.alert.alert-warning Stimmabgabe war ungültig

	if(sent)
		a(href='/' + currentYear + "/stimmabgabe") Neue Stimme eingeben
	else if(! error)
		form(method="post")
			p.text-center.votes-amount!= "<strong>Sie haben 2 Stimmen</strong>"
			.row
				.col-md-6
					.vote-box.first-vote
						.vote-explanation
							p hier 1 Stimme
							p für die Wahl
							p eines/einer Wahlkreisabgeordneten
							br
							p.vote-label Erststimme
						+selection_table(candidates, 'candidate', true)
				.col-md-6
					.vote-box
						.vote-explanation
							p hier 1 Stimme
							p für die Wahl
							p einer Landesliste (Partei)
							//p -maßgebende Stimme für die Verteilung der Sitze insgesamt auf die einzelnen Parteien-
							br
							p.vote-label Zweitstimme
						+selection_table(parties, 'party')

			.bottom-buffer

			.row
				.col-md-4.col-xs-offset-4
					input(type="text", name='keycode' placeholder="Keycode")
					input(type='submit')
			.bottom-buffer-2