extends layout

block scripts
	script(src="//code.highcharts.com/4.0.4/highcharts.js")
	script(src="/javascripts/seat_distribution.js")
	script.
		var content=!{JSON.stringify(content)};

block content
	include ./includes/back_home
	include ./includes/table

	h1= title

	.container-fluid
		#chart

	.container-fluid
		+table(content)