- function adjust(row, columns) {

- 	 return row;
- };

mixin tablerow_cells(row)
	- for(var i=0; i<columns.length; i++) {
	-     var year = columns[i];
	-     row[i] = [year, row.name];
	- }
	- delete row.name;
	- delete row.jahr;
	for val, key in row
		if(key !== 'id')
			td.clickable(data-url= path + '/' + val[0] + '/' + val[1])= val[1] + ', ' + val[0]

extends layout
block content
	include ./includes/back_home
	h1= title
	h2= subtitle

	if(error)
		h3.error Fehler
		p.error= error
	if (typeof(content) !== 'undefined' && content != null)
		if (content.length == 0)
			p Keine Daten gefunden
		else
			table.table.table-striped.table-bordered.table-condensed
				- var columns = []
				thead
					tr
						- var prevYear
						each row in content
							for year, colname in row
								if(colname == 'jahr' && year != prevYear)
									th= year
									- prevYear = year
									- columns.push(year)
				tbody
					- store = []
					each row in content
						if(store.indexOf(row.name) == -1)
							- store.push(row.name)
							tr
								+tablerow_cells(row, columns)